<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @right.user.name if @right.user %>
</p>

<p>
  <strong>Role:</strong>
  <%= @right.role.name if @right.role %>
</p>

<%= link_to 'Edit', edit_right_path(@right) %> |
<%= link_to 'Back', rights_path %>
